$fontFamily: 'Nunito Sans', sans-serif;
$fontExtraBold: 800
$fontSemiBold: 600
$fontLight: 300
  
.back
  width: 127px
  padding: 10px 30px
  border: 0
  border-radius: 5px
  font-family: $fontFamily
  font-weight: $fontLight
  cursor: pointer
  text-decoration: none
  display: flex

.backSVG
  width: 20px
  margin-right: 10px

.country-info
  margin: 140px 0 0
  align-items: center

.country_flag
  width: 600px

section 
  width: 500px
  font-family: $fontFamily

section h1 
  margin: 0 0 25px
  font-weight: $fontExtraBold
  font-size: 35px

.description
  font-size: 18px !important

.border-countries
  margin: 60px 0 0

.border-countries span
  padding: 5px 30px
  margin: 0 10px
  font-size: 14px
  border-radius: 5px